{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">

        {{ form_errors(utilisateurForm) }}

        {{ form_start(utilisateurForm) }}
        <h1 class="h3 mb-3 font-weight-normal">Modification de votre profil</h1>
        {{ form_row(utilisateurForm.prenom) }}
        {{ form_row(utilisateurForm.nom) }}
        {{ form_row(utilisateurForm.mail) }}
        {% if utilisateur.password is null or passwordchange is defined %}
        {{ form_row(utilisateurForm.password) }}
        {% else %}
        {% do utilisateurForm.password.setRendered() %}
        {% endif %}
        {% do utilisateurForm.admin.setRendered() %}
        <div class="d-flex justify-content-between gap-3">
            <a class="btn btn-lg btn-outline-danger mt-3" href="{{ path('app_main') }}">Annuler</a>
            {% if utilisateur.password is not null %}
            <a class="btn btn-lg btn-outline-warning mt-3" href="{{ path('app_profil_change_pw') }}">Changer le mot de
                passe</a>
            {% endif %}
            <button type="submit" class="btn btn-lg btn-outline-primary mt-3">Modifier</button>
        </div>
        {{ form_end(utilisateurForm) }}

    </div>
</div>
{% endblock %}