{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouvel auteur{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">

        {{ form_errors(auteurForm) }}

        {{ form_start(auteurForm) }}
        <h1 class="h3 mb-3 font-weight-normal">Ajout d'un nouvel auteur</h1>
        {{ form_row(auteurForm.auteur) }}
        {{ form_row(auteurForm.bio) }}
        <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-outline-danger mt-3" href="{{ path('app_auteurs') }}">Annuler</a>
            <button type="submit" class="btn btn-lg btn-outline-success mt-3">Ajouter</button>
        </div>
        {{ form_end(auteurForm) }}

    </div>
</div>

{% endblock %}