{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block main %}

<div class="d-flex align-items-center justify-content-between">
    <h1 class="h3">Liste des auteurs</h1>
    <div>
        <a class="btn btn-outline-success m-1" href="{{ path('app_auteurs_ajouter') }}" role="button">Ajouter un auteur</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="">Auteur</th>
            <th class="">Biographie</th>
            <th class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for auteur in auteurs %}
        <tr>
            <td>{{ auteur.auteur }}</td>
            <td>
                {% if auteur.bio|length > 100 %}
                {{ auteur.bio|slice(0,100)~'[...]' }}
                {% elseif auteur.bio|length <= 100 %} {{ auteur.bio}} {% endif %} </td>
            <td class="align-middle">
                <a class="btn btn-outline-primary m-1" href="{{ path('app_auteurs_detail', {id: auteur.id}) }}"
                    role="button">Afficher/Modifier</a>
                <a class="btn btn-outline-danger m-1" href="{{ path('app_auteurs_supprimer', {id: auteur.id}) }}"
                    role="button">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}