{% extends 'base.html.twig' %}

{% block title %}Les citations{% endblock %}

{% block main %}

<div class="d-flex align-items-center justify-content-between">
    <h1 class="h3">Liste des citations</h1>
    {% if is_granted('ROLE_TESTER') %}
    <div>
        <a class="btn btn-outline-success m-1" href="{{ path('app_citations_ajouter') }}" role="button">Ajouter une
            citation</a>
    </div>
    {% endif %}
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th class="">Citation</th>
            <th class="">Auteur</th>
            <th class="">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for citation in citations %}
        <tr>
            <td>
                {% if citation.citation|length > 100 %}
                {{ citation.citation|slice(0,100)~'[...]' }}
                {% elseif citation.citation|length <= 100 %} {{ citation.citation}} {% endif %} </td>
            <td>
                {% if citation.auteurId == NULL %}
                - Anonyme -
                {% else %}
                {{ citation.auteurId.auteur }}
                {% endif %}
            </td>
            <td class="align-middle">
                {% if is_granted('ROLE_TESTER') %}
                <a class="btn btn-outline-primary m-1" href="{{ path('app_citations_detail', {id: citation.id}) }}"
                    role="button">Afficher/Modifier</a>
                <a class="btn btn-outline-danger m-1" href="{{ path('app_citations_supprimer', {id: citation.id}) }}"
                    role="button">Supprimer</a>
                {% else %}
                <a class="btn btn-outline-primary m-1" href="{{ path('app_citations_detail', {id: citation.id}) }}"
                    role="button">Afficher</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}