{% extends 'base.html.twig' %}

{% block title %}Modification de la citation{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto">

        {{ form_errors(citationForm) }}

        {{ form_start(citationForm) }}
        <h1 class="h3 mb-3 font-weight-normal">Modification de la citation</h1>
        {{ form_row(citationForm.auteur_id) }}
        {{ form_row(citationForm.citation) }}
        {{ form_row(citationForm.explication) }}
        <div class="d-flex justify-content-between">
            <a class="btn btn-lg btn-outline-danger mt-3" href="{{ path('app_citations') }}">Annuler</a>
            <button type="submit" class="btn btn-lg btn-outline-primary mt-3">Modifier</button>
        </div>
        {{ form_end(citationForm) }}

    </div>
</div>

{% endblock %}